app/code/local/Dse/Bundleapi/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <!-- BEGIN TYPES -->

    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <complexType name="bundleapiSelectionEntity">
                <all>
                    <element name="selectionRawData" type="xsd:string" minOccurs="0"/>
                    <element name="title" type="xsd:string" minOccurs="0"/>
                    <element name="option_id" type="xsd:string" minOccurs="0"/>
                    <element name="delete" type="xsd:string" minOccurs="0"/>
                    <element name="type" type="xsd:string" minOccurs="0"/>
                    <element name="required" type="xsd:int" minOccurs="0"/>
                    <element name="position" type="xsd:int" minOccurs="0"/>
                </all>
            </complexType>
            <complexType name="bundleapiSelectionEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:bundleapiSelectionEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>

        </schema>
    </types>

    <!-- END TYPES -->

    <!-- BEGIN MESSAGES -->

    <message name="bundleapiSelectionCreateRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="items" type="typens:bundleapiSelectionEntity" />
        <part name="selectionRawData" type="typens:bundleapiSelectionEntity" />
        <part name="productId" type="xsd:int" />
        <part name="storeid" type="xsd:string" />
    </message>
    <message name="bundleapiSelectionCreateResponse">
        <part name="result" type="xsd:string" />
    </message>

    <!-- END MESSAGES -->

    <!-- BEGIN PORT TYPES -->

    <portType name="{{var wsdl.handler}}PortType">

        <operation name="bundleapiSelectionCreate">
            <documentation>Create Bundle Product links</documentation>
            <input message="typens:bundleapiSelectionCreateRequest" />
            <output message="typens:bundleapiSelectionCreateResponse" />
        </operation>

    </portType>

    <!--END PORT TYPES -->

    <!--BEGIN BINDINGS -->

    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">

        <operation name="bundleapiSelectionCreate">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>

    </binding>

    <!--END BINDINGS -->

</definitions>
