app/code/local/Dse/Bundleapi/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <!-- BEGIN TYPES -->

    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <complexType name="bundleapiSelectionProductDataEntity">
                <all>
                    <element name="id" type="xsd:int" minOccurs="0"/>
                    <element name="name" type="xsd:string" minOccurs="0"/>
                    <element name="sku_type" type="xsd:int" minOccurs="0"/>
                    <element name="price_type" type="xsd:int" minOccurs="0"/>
                    <element name="shipment_type" type="xsd:int" minOccurs="0"/>
                    <element name="status" type="xsd:string" minOccurs="0"/>
                    <element name="tax_class_id" type="xsd:int" minOccurs="0"/>
                </all>
            </complexType>
            <complexType name="bundleapiSelectionProductDataEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:bundleapiSelectionProductDataEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>

            <complexType name="bundleapiSelectionOptionEntity">
                <all>
                    <element name="title" type="xsd:string" minOccurs="0"/>
                    <element name="option_id" type="xsd:string" minOccurs="0"/>
                    <element name="delete" type="xsd:string" minOccurs="0"/>
                    <element name="type" type="xsd:string" minOccurs="0"/>
                    <element name="required" type="xsd:int" minOccurs="0"/>
                    <element name="position" type="xsd:int" minOccurs="0"/>
                </all>
            </complexType>
            <complexType name="bundleapiSelectionOptionEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:bundleapiSelectionOptionEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>

            <complexType name="bundleapiSelectionEntity">
                <all>
                    <element name="selection_id" type="xsd:string" minOccurs="0"/>
                    <element name="option_id" type="xsd:string" minOccurs="0"/>
                    <element name="product_id" type="xsd:string" minOccurs="0"/>
                    <element name="delete" type="xsd:string" minOccurs="0"/>
                    <element name="selection_price_value" type="xsd:string" minOccurs="0"/>
                    <element name="selection_price_type" type="xsd:int" minOccurs="0"/>
                    <element name="selection_qty" type="xsd:int" minOccurs="0"/>
                    <element name="selection_can_change_qty" type="xsd:int" minOccurs="0"/>
                    <element name="position" type="xsd:int" minOccurs="0"/>
                    <element name="is_default" type="xsd:int" minOccurs="0"/>
                </all>
            </complexType>
            <complexType name="bundleapiSelectionEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:bundleapiSelectionEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>

        </schema>
    </types>

    <!-- END TYPES -->

    <!-- BEGIN MESSAGES -->

    <message name="bundleapiSelectionCreateRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="items" type="typens:bundleapiSelectionOptionEntityArray" />
        <part name="selectionRawData" type="typens:bundleapiSelectionEntityArray" />
        <part name="productId" type="xsd:int" />
        <part name="storeid" type="xsd:string" />
    </message>
    <message name="bundleapiSelectionCreateResponse">
        <part name="result" type="xsd:string" />
    </message>

    <!-- END MESSAGES -->

    <!-- BEGIN PORT TYPES -->

    <portType name="{{var wsdl.handler}}PortType">

        <operation name="bundleapiSelectionCreate">
            <documentation>Create Bundle Product links</documentation>
            <input message="typens:bundleapiSelectionCreateRequest" />
            <output message="typens:bundleapiSelectionCreateResponse" />
        </operation>

    </portType>

    <!--END PORT TYPES -->

    <!--BEGIN BINDINGS -->

    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">

        <operation name="bundleapiSelectionCreate">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>

    </binding>

    <!--END BINDINGS -->
    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>
</definitions>
